# 忽略编译输出目录
/Debug/
/Release/

# 忽略编译器生成的文件
*.o
*.d
*.elf
*.map
*.bin
*.hex
*.srec

# 忽略 IDE 生成的文件和目录
/.vscode/
/*.user
/*.cproject
/*.project
/*.launch
/.settings/
/metadata/
/*.log
/*.bak

# 忽略临时文件
*.swp
*.tmp
*.temp
*.bak
*.log

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略 CubeMX 生成的文件
*.ioc
*.mxproject

# 忽略生成的汇编文件
*.lst
*.lss

# 忽略 Keil uVision 生成的文件
*.uvoptx
*.uvguix

# 忽略 Segger Embedded Studio 生成的文件
Output/
*.o
*.d
*.elf
*.hex
*.map

# 忽略 STM32CubeIDE 生成的文件
.cproject
.project
.settings/